services:
  server:
    build: .
    container_name: blackrose
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - ../:/backend
    ports:
      - "8088:8000"
    networks:
      - black

networks:
  black:
    name: nginx
    external: true
